In [1]:
t1=()
t2=10,
t3=10,20,30,40,50
t4=(10,20,30,40,50)
t5=tuple(range(10))

print(t1)
print(t2)
print(t3)
print(t4)
print(t5)

()
(10,)
(10, 20, 30, 40, 50)
(10, 20, 30, 40, 50)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [2]:
enames=('rahul','sonia','modi','nehru')
for ename in enames:
    print(ename)

rahul
sonia
modi
nehru

In [3]:
enames=('rahul','sonia','modi','nehru')
i=0
while i<=len(enames)-1:
    print(enames[i])
    i=i+1

rahul
sonia
modi
nehru

In [5]:
months=('jan','feb','mar','apr','may')
print(months)
months.append()

('jan', 'feb', 'mar', 'apr', 'may')

AttributeError: 'tuple' object has no attribute 'append'

In [11]:
enames=('rahul','sonia','priynaka','modi','amith','rajini')
new_names=sorted(enames)
print(new_names)
print(type(new_names))
enames=tuple(new_names)
print(enames)
print(type(enames))

['amith', 'modi', 'priynaka', 'rahul', 'rajini', 'sonia']
<class 'list'>
('amith', 'modi', 'priynaka', 'rahul', 'rajini', 'sonia')
<class 'tuple'>

In [18]:
enames=('rahul','sonia','sonia','priynaka','modi','amith','rajini')
c1=enames.count('sonia')
i1=enames.index('priynaka')
print(i1)
print(c1)

3
2